
.card-margin {
    margin-bottom: 10px;
}

.fixed-size-card {
    width: 300px;
    height: auto;
}
nav {
    background-color: #1a1a1a;
    height: 70px;
    width: 100%;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    border-bottom: 1px solid black;
}

.container{

}
#page-content-wrapper {
    padding-top: 70px;
}
body {
    position: relative;
    overflow-x: hidden;
    background-color: #ffffff;
}
